<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Description</h5>
    <p class="card-text">{{ site.description }}</p>
    {%- assign about = site.data.config-nav | where: "stub","/about.html" | size -%}
    {% if about > 0 %}<a class="btn btn-outline-primary" href="{{ '/about.html' | relative_url }}" >Learn More &raquo;</a>{% endif %}

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#adoptionModal">
      Meow!
    </button>
    <div class="modal fade" id="adoptionModal" tabindex="-1" aria-labelledby="adoptionModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="adoptionModalLabel">Adopt Now!</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <a href="https://forms.gle/yrk5XzX37z1Zmt9t9">Adoption Form</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
